[project]
	description = A sample Spring-based application
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Nagireddy GIT WORLD (nagireddygit)
[access "refs/for/refs/*"]
	read = group user/Nagireddy GIT WORLD (nagireddygit)
	push = group user/Nagireddy GIT WORLD (nagireddygit)
	label-Code-Review = -2..+2 group user/Nagireddy GIT WORLD (nagireddygit)
	label-Verified = -1..+1 group user/Nagireddy GIT WORLD (nagireddygit)
	rebase = group user/Nagireddy GIT WORLD (nagireddygit)
	removeReviewer = group user/Nagireddy GIT WORLD (nagireddygit)
	submit = group user/Nagireddy GIT WORLD (nagireddygit)
[access "refs/heads/*"]
	read = group user/Nagireddy GIT WORLD (nagireddygit)
	create = group user/Nagireddy GIT WORLD (nagireddygit)
	push = +force group user/Nagireddy GIT WORLD (nagireddygit)
	pushMerge = group user/Nagireddy GIT WORLD (nagireddygit)
[access "refs/tags/*"]
	push = group user/Nagireddy GIT WORLD (nagireddygit)
	push = +force group user/Nagireddy GIT WORLD (nagireddygit)
